@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
   margin:0;
   padding:0;
   background-color: #f4f4f4;
}

header {
  font-family: 'Lato', sans-serif;
  background-color:  #010646;
  position: relative;
  color: #fff;
  width: 100%;
  padding: 0 0 10px 50px;
  top: 0;
  overflow: auto;
  border-bottom: 5px #f3ce00 solid;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 15px 10px;
  max-width: 80%;
  background-color: #fff;
  height: 100%;
}
