@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
   padding:0;
   background-color: #f4f4f4;
   box-sizing: border-box;
   font-family: 'Noto Sans', sans-serif;
}

header {
  font-family: 'Lato', sans-serif;
  background-color:  #009688;
  position: relative;
  color: #fff;
  padding: 0 0 10px 50px;
  top: 0;
  overflow: auto;
  border-bottom: 5px #FFC107 solid;
}

h2, p {
  margin: 0;
}

.corps {
  position: relative;
  margin: auto;
  padding: 15px 50px 10px;
  width: 65vw;
  background-color: #fff;
  height: 100%;
}
